header {
    min-width: 800px;
    background-color: #222223CC;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
    background-image: url('../images/fon.png');
    background-size: cover;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 10px;
    width: 800px;  
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 2px;
    vertical-align: top;
}

.nav__link {
    display: block;
    width: 137px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #E6E6E6;
    cursor: pointer;
}

.nav__link:hover {
    border-bottom: 0.5px solid #E6E6E6;
}

.logo-link {
    display: inline-block;
    margin-right: 98px;
}

.logo {
    display: block;
    width: 40px;
    height: 40px;
}

